/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  inline-size: clamp(320px, 100vw, 700px);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-text-font-weight);
  background: repeating-linear-gradient(transparent, #d3d3d3 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  margin: 104px auto;
}

header {
  margin-top: 100px;
}

.logo-content {
  padding: clamp(120px, 100%, 128px) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  border: var(--border-settings);
  background-color: var(--bg-color);
  margin-bottom: 100px;
}

.logo_part_1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.logo_part_2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  border: var(--border-settings);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  margin-bottom: 50px;
}

.card-title {
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--title-font-weight);
  margin: 5px 10px;
}

.card-image-space {
  display: flex;
  position: relative;
  overflow: hidden;
  border-top: var(--border-settings);
  border-bottom: var(--border-settings);
}

.card-image {
  width: 100%;
}

.card:nth-child(2) .card-image {
  filter: grayscale(80%);
}

.card:nth-child(3) .card-image {
  filter: saturate(500%);
}

.card:nth-child(4) .card-image {
  filter: hue-rotate(30deg);
}

.card:nth-child(5) .card-image {
  filter: invert(0.8);
}

.card:nth-child(6) .card-image {
  filter: sepia(0.9);
}

.card:nth-child(7) .card-image {
  filter: blur(1.2rem);
}

.card:nth-child(8) .card-image {
  filter: blur(0.15rem) hue-rotate(95deg) saturate(200%) contrast(40%);
}

.watermark {
  position: absolute;
  font-family: var(--accent-font);
  top: 25px;
  right: clamp(13px, 13px + 0.75vw, 25px);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--shadow-color), -1px -1px var(--shadow-color),
    1px -1px var(--shadow-color), -1px 1px var(--shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .watermark {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 4px 25px 0;
  font-size: var(--main-font-size);
}

.first-paragraph {
  padding-top: 20px;
  line-height: 21px;
}

.second-paragraph {
  margin-bottom: 26px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--font-size-button);
  mix-blend-mode: difference;
}

.button-space {
  display: flex;
  justify-content: end;
  margin: 0 25px 25px 0;
  gap: 7px;
}

.card__icon-button {
  height: 38.4px;
  padding: 0;
  border: 2px solid transparent;
  background-color: var(--bg-color);
  transition: border 0.2s ease;
}


.card__like-button {
  width: 130px;
  padding: 10px;
  line-height: 90%;
  border: var(--border-settings);
  background-color: var(--bg-color);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.button-form {
  display: flex;
  justify-content: center;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 13px 18px;
  border: var(--border-settings);
  background-color: var(--bg-color);
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  max-width: 353px;
  padding: 22px 30px;
  gap: 30px;
}

.dialog-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 150%;
  padding-bottom: 30px;
  gap: 20px;
}

.dialog-text {
  font-family: var(--accent-font);
  font-size: var(--font-size-button);
}

.dialog_icon {
  min-width: 39px;
}

.memory-floppy {
  min-width: 21px;
  mix-blend-mode: difference;
}

.ok-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 130.5px;
  border: var(--border-settings);
  background-color: var(--bg-color);
  cursor: pointer;
  color: white;
}

@media (width <= 375px) {
  .logo-content {
    margin-bottom: 102px;
  }
  .bottom-button {
    flex-direction: column;
  }
  .memory-floppy {
    width: 28px;
    height: 28px;
  }
}